.login {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  display: flex;
  justify-content: center;
}

.form-input,
.error {
  margin: 5px;
  min-width: 300px;
}

.form-input input {
  margin: 2px 0;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  min-width: 100%;
  outline: none;
}

.error input {
  background-color: tomato;
  color: #fff;
  margin: 2px 0;
  border: 1px solid red;
  padding: 10px 20px;
  border-radius: 5px;
  min-width: 100%;
  outline: none;
}

.error .text-error {
  margin: 0;
  color: tomato;
  font-weight: bold;
}

.check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.check p {
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  color: #043730;
  cursor: pointer;
}

.check input[type="checkbox"] {
  appearance: none;
  background-color: #f4f1ec;
  margin: 0;
  font: caption;
  color: #043730;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #043730;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

.check input::after {
  content: attr(value);
  margin: -2px 22px;
  vertical-align: top;
  white-space: nowrap;
  display: inline-block;
}

button {
  width: 60%;
  margin: 10px;
  padding: 10px;
  border: none;
  font-family: "Cairo", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  background-color: #043730;
  color: #fff;
}

.create {
  margin-top: 0;
  background-color: #eb5946;
}
